<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="card shadow p-0 pb-5" style="border-radius: 8px;">
      <div class="card-body px-5 pt-5">
        <div class="card-title d-flex justify-content-start align-items-center mb-4">
          <h2 style="margin-right: 16px;"><%= link_to 'Tags', tags_path %> / Create</h2>
        </div>
        <div class="container px-0">
          <%= render 'form', tag: @tag %>
        </div>
      </div>
    </div>
  </div>
</div>
